.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.button-standard {
  width: 230px;
  height: 57px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;

  @include vp-1199 {
    width: 183px;
    height: 57px;
  }

  @include vp-1199 {
    width: 290px;
    height: 59px;
  }
}

.buy-button {
  order: 3;
  background-color: transparent;
  border: 4px solid $color-default-white;
  text-align: right;
  margin-left: auto;
  margin-right: 67px;
  margin-top: -20px;

  @include hover-focus {
    background-color: $color-default-white;
    color: #103aae;
    opacity: 1;
  }

  &:active {
    background-color: $color-default-white;
    color: #102654;
  }

  @include vp-1199 {
    margin-right: 5px;
    margin-top: -53px;
    width: 183px;
  }

  @include vp-767 {
    margin-top: 26px;
    width: 280px;
    margin-bottom: 60px;
  }
}

.button-play {
  cursor: pointer;
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-image: url("../../img/svg/playbutton.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  top: calc(50% - 45px);
  left: calc(50% - 45px);
  z-index: 10;

  @include vp-1199 {
    width: 52px;
    height: 52px;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
  }

  &:disabled {
    background-image: url("../../img/playbutton-disabled.png");
  }

  @include hover-focus {
    background-image: url("../../img/playbutton-hover.png");
  }

  @include active {
    background-image: url("../../img/playbutton-hover.png");
  }
}

.button-plan {
  background-color: transparent;
  border: 4px solid #102654;
  color: #102654;
  width: 211px;

  @include hover-focus {
    background: $red-to-blue;
    border: none;
    color: $color-default-white;
    opacity: 1;
  }
}

.button-plan:disabled {
  color: rgba(16, 38, 84, 0.3);
  border: 7px solid rgba(16, 38, 84, 0.3);
}

.button-link {
  width: 343px;
  margin-left: 10px;
  border: 4px solid $color-default-white;
  color: $color-default-white;
  background-color: transparent;

  @include vp-1199 {
    width: 207px;
    margin-left: -3px;
    margin-bottom: -18px;
    height: 39px;
  }

  @include hover-focus {
    background-color: #ffffff;
    color: #103aae;
  }

  @include active {
    background-color: $color-default-white;
    color: #103aae;
  }

  @include vp-767 {
    margin-bottom: 3px;
  }
}

.button-tab {
  color: #102654;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 260px;
  padding-top: 17px;
  padding-bottom: 17px;

  @include hover-focus {
    border: 1px solid #102654;
    opacity: 1;
  }

  &.is-active {
    border: none;
    color: $color-default-white;
    background-image: $red-to-blue;

    @include hover-focus {
      border: none;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1199 {
    font-size: 16px;
  }

  @include vp-1199 {
    min-width: 162px;
    width: auto;
    margin-right: 20px;
  }

  @include vp-767 {
    max-width: 141px;
    margin-right: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 0;
    line-height: 16px;
  }
}

.button-open {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  right: 0;
  top: -8px;
  background-color: transparent;
  background-image: url("../../img/sprite/open-default.svg");
  background-repeat: no-repeat;

  @include hover-focus {
    background-image: url("../../img/sprite/open-hover.svg");
    opacity: 1;
  }

  &:disabled {
    background-image: url("../../img/sprite/open-disabled.svg");
  }

  @include vp-1199 {
    right: 40px;
  }

  @include vp-767 {
    top: 15%;
    right: -12px;
    background-size: 80%;
  }
}

.button--close {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  right: 0;
  top: -8px;
  background-color: transparent;
  background-image: url("../../img/sprite/close.svg");
  background-repeat: no-repeat;

  @include hover-focus {
    background-image: url("../../img/sprite/close.svg");
    opacity: 1;
  }

  @include vp-767 {
    top: 15%;
    right: -12px;
  }
}

.button-send {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  margin-bottom: 70px;

  @include hover-focus {
    background-color: #ffffff;
    opacity: 1;
    color: #102654;
  }

  @include active {
    opacity: 0.5;
  }

  @include vp-1199 {
    margin-bottom: 64px;
  }

  @include vp-767 {
    margin-left: 9px;
  }
}
