.btn {
  display: inline-flex;
  padding: 10px 20px;
  color: $color-default-white;
  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button-standard {
  width: 230px;
  height: 57px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;

  @include vp-1199 {
    width: 183px;
    height: 57px;
  }

  @include vp-1199 {
    width: 290px;
    height: 59px;
  }
}

.button-open {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  right: -47px;
  top: -9px;
  background-color: transparent;
  background-image: url("../../img/svg/open-default.svg");
  background-repeat: no-repeat;

  @include hover-focus {
    background-image: url("../../img/svg/open-hover.svg");
    opacity: 1;
  }

  &:disabled {
    background-image: url("../../img/svg/open-disabled.svg");
  }

  @include vp-1199 {
    top: -3px;
    right: 13px;
  }

  @include vp-767 {
    top: 36%;
    right: -8px;
    background-size: 80%;
  }
}

.button--close {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  right: -45px;
  top: -4px;
  background-color: transparent;
  background-image: url("../../img/svg/close.svg");
  background-repeat: no-repeat;

  @include hover-focus {
    background-image: url("../../img/svg/close.svg");
    opacity: 1;
  }

  @include vp-1199 {
    right: 13px;
    top: -10px
  }

  @include vp-767 {
    top: 22%;
    right: -8px;
  }
}
