.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.button-standard {
  width: 230px;
  height: 57px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;

  @include vp-1199 {
    width: 183px;
    height: 57px;
  }

  @include vp-1199 {
    width: 290px;
    height: 59px;
  }
}

.button-open {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  right: -43px;
  top: -8px;
  background-color: transparent;
  background-image: url("../../img/svg/open-default.svg");
  background-repeat: no-repeat;

  @include hover-focus {
    background-image: url("../../img/svg/open-hover.svg");
    opacity: 1;
  }

  &:disabled {
    background-image: url("../../img/svg/open-disabled.svg");
  }

  @include vp-1199 {
    right: 40px;
  }

  @include vp-767 {
    top: 15%;
    right: -12px;
    background-size: 80%;
  }
}

.button--close {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  right: -44px;
  top: -14px;
  background-color: transparent;
  background-image: url("../../img/svg/close.svg");
  background-repeat: no-repeat;

  @include hover-focus {
    background-image: url("../../img/svg/close.svg");
    opacity: 1;
  }

  @include vp-767 {
    top: 15%;
    right: -12px;
  }
}
