.coaches-wrapper {
  padding-top: 40px;
}

.slide {
  background-color: rgba(16, 38, 84, 0.89);
  color: #ffffff;
  width: 260px;
  height: 294px;
}

.slide__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.slide__subname {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slide__list {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
