.coaches {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1920px;
}

.coaches-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 65px;
  box-sizing: border-box;

  @include vp-1199 {
    padding-top: 60px;
  }
}

.coaches__title {
  padding-left: 100px;

  @include vp-1199 {
    padding-left: 0;
    text-align: center;
  }
}



