.commercial__wrapper {
  display: flex;
  padding-top: 116px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;

  @include vp-1199 {
    padding-top: 88px;
  }

  @include vp-767 {
    margin-bottom: 3px;
    padding-top: 0;
    align-items: center;
    justify-content: start;
  }
}

.commercial__block {
  display: flex;
  height: 500px;

  @include vp-1199 {
    height: 292px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

.commercial__photo {
  background-color: #0E0845;;
}
