.commercial__wrapper {
  display: flex;
  padding-top: 116px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1490px;

  @include vp-1199 {
    padding-top: 88px;
    width: 708px;
    margin-left: 0;
    margin-right: 0;
  }

  @include vp-767 {
    margin-bottom: 3px;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    width: 290px;
    margin: 0 auto;
  }
}

.commercial__block {
  display: flex;
  min-height: 500px;
  margin: 0 auto;

  @include vp-1199 {
    height: 292px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

.commercial__photo {
  background-color: #0E0845;;
}
