.contacts {
  padding-left: 121px;
  padding-right: 35px;
  padding-top: 55px;
  width: 50%;
  box-sizing: border-box;
  position: relative;

  @include vp-1199 {
    width: 100%;
    padding-top: 70px;
    padding-left: 133px;
    padding-right: 133px;
    margin: 0 auto;
    margin-bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 67px;
    margin: 0 auto;
    margin-bottom: 61px;
    width: 100%;
  }
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 38px;

  @include vp-1199 {
    padding-top: 33px;
    margin: 0 auto;
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
    padding-top: 39px;
    flex-direction: column;
    align-items: start;
  }
}

.contacts h2 {
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;

  @include vp-1199 {
    font-size: 42px;
    align-self: start;
  }

  @include vp-767 {
    font-size: 32px;
    align-self: start;
    letter-spacing: 0.96;
  }
}

.contacts h3 {
  font-size: 16px;
  font-weight: 700;

  @include vp-1199 {
    font-size: 20px;
  }
}

.contacts__address-block {
  display: flex;
  flex-direction: column;
  margin-right: 24%;
  position: relative;
  width: 190px;

  &::after {
    position: absolute;
    height: 102px;
    width: 2px;
    background-color: #74819c;
    content: "";
    top: 5px;
    left: 233px;

    @include vp-1199 {
      left: 266px;
      height: 130px;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1365 {
     margin-right: 6%;
  }

  @include vp-1199 {
    margin-right: 100px;
    width: 214px;
  }

  @include vp-767 {
    width: 100%;
    margin-right: 0;

  }
}

.contacts__phone-block {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    align-items: start;
    margin-left: 0;
  }
}
