.contact-block__header {
  color: #102654;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.contact-block__text {
  color: #102654;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
