.contacts {
  padding-left: 121px;
  padding-right: 35px;
  padding-top: 55px;
  width: 50%;
  box-sizing: border-box;

  @include vp-1199 {
    width: 100%;
    padding-top: 70px;
    padding-left: 133px;
    padding-right: 133px;
    margin-bottom: 46px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 67px;
    margin-bottom: 61px;
  }
}

.contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 37px;

  @include vp-1199 {
    padding-top: 33px;
  }

  @include vp-767 {
    padding-top: 39px;
    flex-direction: column;
    align-items: start;
  }
}

.contacts h3 {
  @include vp-767 {
  font-size: 20px;
  }
}
