.email {
  color: #102654;

  @include vp-767 {
    width: 100%;
  }
}

.email a {
  margin-top: 12px;
  color: #102654;
  font-size: 14px;
  letter-spacing: 0.3px;

  @include hover {
    border-bottom: 2px #000000 solid;
  }

  @include focus {
    outline: 2px #000000 solid;
  }

  @include vp-1199 {
    font-size: 18px;
    margin-top: 5px;
  }

  @include vp-767 {
    width: 100%;
    font-size: 18px;
    line-height: 27px;
  }
}

.email h3 {

  @include vp-1199 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    width: 100%;
  }
}
