.faq {
  background-color: #F8F9FC;
}

.faq-wrapper {
  padding-top: 120px;
  box-sizing: border-box;

  @include vp-1199 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  @include vp-767 {
    padding-top: 70px;
  }
}
.tab-wrapper {
  display: flex;
  padding-top: 45px;

  @include vp-1199 {
  flex-direction: column;
  align-items: center
  }
}

.faq__controlblock {
  width: 25%;
  margin-right: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 100%;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-right: 0;margin-bottom: 40px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    justify-content: center;

  }
}

.button-tab {
  color: #102654;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid rgba(16, 38, 84, 0.20);
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 260px;
  padding-top: 17px;
  padding-bottom: 17px;

  @include hover-focus {
    border: 1px solid #102654;
    opacity: 1;
  }

  &.is-active {
    border: none;
    color: #fff;
    background-image: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
    @include hover-focus {
      border: none;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1199 {
    font-size: 16px;
  }

  @include vp-1199 {
    min-width: 162px;
    width:auto;
    margin-right: 20px;
  }

  @include vp-767 {
    min-width: 141px;
    width: auto;
  }
}


.faq__questionblock {
  width: 70%;
  box-sizing: border-box;
  padding-top: 30px;
  margin-bottom: 49px;

  @include vp-1199 {
    width:100%;
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }
}

.question {
  &::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(28, 51, 116, 0.20);
    content: "";
    top: -35px;
    left: 0;
  }
}
.question__answer-wrapper {
  position: relative;
  margin-bottom:60px;
  border-bottom: 1px solid rgba(28, 51, 116, 0.20);
  box-sizing: border-box;
  padding-bottom: 40px;
  // &::before {
  //   position: absolute;
  //   width: 100%;
  //   height: 1px;
  //   background-color: rgba(28, 51, 116, 0.20);
  //   content: "";
  //   top: -30px;
  //   left: 0;
  // }
}

.question__answer {
  color: #102654;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  @include vp-767 {
    width: 75%;
  }
}

.question__answer-text p {
  color: #102654;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  width: 75%;

  @include vp-767{
    width: 90%;
  }
}

.button-open {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  right: -42px;
  top: -8px;
  background-color: transparent;
  background-image: url("../../img/svg/open-default.svg");
  background-repeat: no-repeat;
  @include hover-focus {
    background-image: url("../../img/svg/open-hover.svg");
    opacity: 1;
  }
  &:disabled {
    background-image: url("../../img/svg/open-disabled.svg");
  }

  @include vp-767 {
    top: 1%;
  }
}

.button--close {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  right: 0;
  top: -8px;
  background-color: transparent;
  background-image: url("../../img/svg/close.svg");
  background-repeat: no-repeat;
  @include hover-focus {
    background-image: url("../../img/svg/close.svg");
    opacity: 1;
  }
}
