.faq {
  background-color: #F8F9FC;
}

.tab {
  color: #102654;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.question {
  color: #102654;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
