.feedback__wrapper {
  padding-top: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding-top: 93px;
    width: 708px;
  }

  @include vp-767 {
    padding-top: 73px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.feedback h2 {
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;

  @include vp-1199 {
    font-size: 42px;
    margin-left: 0;
    margin-bottom: 40px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-bottom: 41px;
    margin-left: 0;
  }
}

.feedback__feedback-slider {
  display: flex;
  padding-top: 37px;
  margin-bottom: 120px;
  padding-left: 71px;
  padding-right: 70px;
  overflow: visible;

  @include vp-1199 {
    padding-left: 40px;
    margin-bottom: 101px;
    padding-top: 0;
  }

  @include vp-767 {
    min-width: 226px;
    width: 53%;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 56px;
    padding-right: 0;
    margin-right: 0;
    overflow: visible;
    position: relative;
    margin-left: 0;
  }
}

.feedback__feedback-slider-wrapper {
  min-width: 560px;
  max-width: 560px;
  display: flex;
  overflow: hidden;
  margin-left: 0;
  padding-right: 50px;
  min-height: 242px;

  position: relative;

  @include vp-1199 {
    min-height: 242px;
    height: auto;
  }

  @include vp-767 {
    min-width: 228px;
    width:79%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    border: 2px solid green;
    margin-right: - 202px;
  }
}

.feedback__button-prev::after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 10;
  box-sizing: border-box;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.feedback__button-prev {
  left: -4px;
  right: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  top: 54%;
  z-index: 10;

  &:hover,
  &:focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }

  @include vp-1365 {
    left: 0;
  }

  @include vp-1199 {
    left: -36px;
    top: 50%;
  }

  @include vp-767 {
    left: -45px;
    top: 50%;
    width: 35px;
    height: 45px;
  }
}

.feedback__button-next::after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 10;
  box-sizing: border-box;

  @include vp-767 {
    width: 35px;
    height: 45px;
  }
}

.feedback__button-next {
  right: -5px;
  z-index: 12;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  top: 54%;
  z-index: 10;

  &:hover,
  &:focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }

  @include vp-1365 {
    right: 0;
  }

  @include vp-1199 {
    right: -7px;
    top: 119px;
  }

  @include vp-767 {
    width: 35px;
    height: 45px;
    right: -44px;
    top: 50%;
  }
}

.feedback__button-next:active::after {
  z-index: 11;
  background-image: url("../../img/svg/arrow-left-white.svg");
  transform: rotate(180deg);
}

.feedback__button-prev:active::after {
  z-index: 11;
  background-image: url("../../img/svg/arrow-left-white.svg");
}
