.feedback-slide {
  background-color: #1c3374;
  color: $color-default-white;
  max-width: 560px;
  padding-left: 35%;
  box-sizing: border-box;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  background-image: url("../../img/author-desktop.png");
  background-repeat: no-repeat;
  background-position: 58px 50px;
  margin-left: -10px;

  @include vp-1199 {
    max-width: none;
    width: 566px;
    background-position: 15% 38%;
    padding-left: 175px;
    min-height: 242px;
    height: auto;
    margin-left: 0;
  }

  @include vp-767 {
    min-width: 226px;
    width: 100%!important;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-top: 43px;
    background-size: 31%;
    background-position: 25% 15%;
  }
}

.feedback-slide h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  width: 330px;
  margin-bottom: -2px;

  @include vp-767 {
    width: 32%;
    align-self: center;
    line-height: 28px;
    margin-bottom: 22px;
    margin-left: 40%;
  }
}

.feedback-slide p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 330px;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    width: 78%;
    align-self: center;
    text-align: center;
    line-height: 22.4px;
    margin: 0;
    margin-bottom: 30px;
  }
}
