.feedback__wrapper {
  padding-top: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding-top: 93px;
  }

  @include vp-767 {
    padding-top: 50px;
  }
}

.feedback h2 {
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;

  @include vp-1199 {
    font-size: 42px;
  }

  @include vp-767 {
    font-size: 32px;
  }
}

.feedback__feedback-slider {
  display: flex;
  padding-top: 37px;
  margin-bottom: 115px;
  padding-left: 158px;
  padding-right: 70px;

  @include vp-1199 {
    padding-left: 57px;
    margin-bottom: 96px;
  }

  @include vp-767 {
    padding-top: 42px;
    padding-left: 34px;
  }
}

.feedback__feedback-slider-wrapper {
  min-width: 560px;
  max-width: 638px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-left: 0;
  padding-right: 50px;

  @include vp-767 {
    min-width: 226px;
  }
}

.feedback__button-prev {
  left: 79px;
  right: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #ffffff;

  @include hover-focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }

  @include vp-1199 {
    left: -18px;
    top:154px;
  }

  @include vp-767 {
    left: -23px;
    top: 202px;
  }
}

.feedback__button-next {
  right: 80px;
  z-index: 12;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #ffffff;

  @include hover-focus {
    border: 2px solid #102654;

  }

  &:active {
    background-color: #102654;
  }

  @include vp-1199 {
    right: 7px;
    top: 154px;
  }

  @include vp-767 {
    right: 14px;
    top: 202px;
  }
}

.feedback__button-prev::after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 11;
  box-sizing: border-box;

  &:active {
    background-image: url("../../img/svg/arrow-left-white.svg");
  }
}

.feedback__button-next::after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 11;
  box-sizing: border-box;

  &:active {
    background-image: url("../../img/svg/arrow-right-white.svg");
  }
}
