.feedback-wrapper {
  padding-top: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-767 {
    padding-top: 51px;
  }
}

.feedback-slider {
  display: flex;
  padding-top: 37px;
  margin-bottom: 120px;
  padding-left: 158px;
  padding-right: 70px;

  @include vp-1199 {
    padding-left: 57px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 42px;
    padding-left: 34px;
  }
}

.feedback-slider-wrapper {
  min-width: 560px;
  max-width: 638px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-left: 0;
  padding-right: 50px;

  @include vp-767 {
    min-width: 226px;
  }
}

.feedback__button-prev {
  left: -19px;
}

.feedback__button-next {
  right: 10px;
  z-index: 12;
}
