.footer-nav {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-left: 53px;

  @include vp-1199 {
    margin-left: 29px;
  }

  @include vp-767 {
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-left: -40px;
  }
}

.footer-nav li {
  margin-right: 40px;

  @include vp-1199 {
    margin-right: 27px;
  }

  @include vp-767 {
    width: 34%;
    margin-bottom: 16px;
  }
}

.footer-nav__element-1 {
  @include vp-767 {
    order: 1;
  }
}

.footer-nav__element-4 {
  @include vp-767 {
    width: 20%;
    order: 2;
  }
}

.footer-nav__element-2 {
  @include vp-767 {
    order: 3;
  }
}

.footer-nav__element-5 {
  @include vp-767 {
    width: 20%;
    order: 4;
  }
}

.footer-nav__element-3 {
  @include vp-767 {
    order: 5;
    margin-top: 17px;
    transform: translateX(158px) translateY(-136px);
  }
}

.footer-nav a {
  font-size: 14px;
  font-weight: 400;
  color: $color-default-white;

  @include hover {
    box-shadow: 0 2px 0 0 #ffffff;
  }

  @include focus {
    outline: solid 2px #ffffff;
    border-radius: none;
  }

  @include vp-767 {
    font-size: 16px;
  }
}
