.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;


  @include vp-1199 {
    margin-left: 12px;
    justify-content: left;
    padding-left: 0;
  }

  @include vp-767 {
    // justify-content: left;
    // flex-wrap: wrap;
    // margin-bottom: 0;
    margin-left: 0;
    // padding-left: 0;
    display: grid;
    max-width: 280x;
    grid-template-columns: 140px 140px;

    // grid-template-areas:  ". promotion"
    //                       "service coaches"
    //                       "member schedule";
    grid-auto-flow: dense;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}

.footer-nav li {
  margin-right: 41px;

  @include vp-1199 {
    margin-right: 30px;
  }

  @include vp-767 {
    // width: 34%;
    // margin-bottom: 16px;
    // margin-right: 0;
  }
}

.footer-nav__element-1 {
  @include vp-767 {
    grid-row: 1 / 3;
    align-self: end;
  }
}

.footer-nav__element-2 {
  @include vp-767 {
    grid-row: 3 / 4;
  }
}

// .footer-nav__element-3 {
//   @include vp-767 {
//     grid-area: promotion;
//   }
// }

// .footer-nav__element-4 {
//   @include vp-767 {
//     grid-area: coaches;
//   }
// }

// .footer-nav__element-5 {
//   @include vp-767 {
// grid-area: schedule;
//   }
// }


.footer-nav a {
  font-size: 14px;
  font-weight: 400;
  color: $color-default-white;

  @include hover {
    box-shadow: 0 2px 0 0 #ffffff;
  }

  @include focus {
    outline: solid 2px #ffffff;
    border-radius: none;
  }

  @include vp-767 {
    font-size: 16px;
  }
}
