.footer {
  background-color: #030A1A;
  box-sizing: border-box
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom:32px;

  @include vp-1199 {
    padding-top: 47px;
    padding-bottom: 49px;

  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 52px;
    flex-direction: column;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;

  @include vp-767 {
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.footer-nav__item {
  margin-right: 40px;
}

.footer-nav__link {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;

  @include hover {
    box-shadow: 0px 2px 0px 0px #fff;
  }

  @include focus {
    outline: solid 2px #fff;
    border-radius: none;
  }
}
.footer-social {
display: flex;
}

.footer-social__item {
  margin-left: 11px;
}

.footer-social__link {
  display: block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include hover-focus {
    background-color: #103AAE
  }

  @include active {
    background-color: #102654;
  }
}

.footer-social__link:hover svg,.footer-social__link:active svg,
.footer-social__link:focus svg
 {
  fill: #fff;
}
