.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4px;
  width: 140px;
  padding-left: 0;

  @include vp-1199 {
    margin-right: 9px;
    width: 110px;
    padding-left: 0;
  }

  @include vp-767 {
    transform: translateX(-10px) translateY(-40px);
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer-social li {
  margin-left: 11px;
  margin-bottom: 10px;

  @include vp-1199 {
    margin-left: 9px;
  }
}

.footer-social__link {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: #103aae;
  }

  &:active {
    background-color: #102654;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.footer-social__link:hover svg,
.footer-social__link:active svg,
.footer-social__link:focus svg {
  display: none;
}

.footer-social__link--vk:hover,
.footer-social__link--vk:focus,
.footer-social__link--vk:active {
  background-image: url("../../img/svg/vk-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.footer-social__link--ok:hover,
.footer-social__link--ok:focus,
.footer-social__link--ok:active {
  background-image: url("../../img/svg/odnoklassniki-white.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 40%;
  outline: none;
}

.footer-social__link--reddit:hover,
.footer-social__link--reddit:focus,
.footer-social__link--reddit:active {
  background-image: url("../../img/svg/Reddit-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  outline: none;
}
