.free {
  color: #ffffff;
  width: 50%;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 100px;
  padding-top: 54px;


  @include vp-1199 {
    width: 100%;
    padding-left: 133px;
    padding-right: 133px;
    padding-top: 45px;
    background-color: #102654;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 15px;
    padding-top: 10px;
  }
}

.free h2 {
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 800;
  line-height: 85px;
  letter-spacing: 2px;

  @include vp-1199 {
    font-size: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    padding-left: 15px;
  }
}

.free__form-wrapper {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 86%;
  margin-bottom: -5px;

  @include vp-1199 {
    padding-top: 13px;
    width: 94%;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.free__name-wrapper {
  margin-right: 30px;
  width: 45%;

  @include vp-1199 {
    margin-right: 47px;
  }

  @include vp-767 {
    margin-right: 0;
    width: 90%;
    margin-bottom: 30px;
  }
}

.free__tel-wrapper {
  margin-bottom: 30px;
  width: 45%;

  @include vp-1199 {
    width: 45%;
  }

  @include vp-767 {
    margin-right: 0;
    width: 90%;
    margin-bottom: 40px;
  }
}

.free__name-wrapper input,
.free__tel-wrapper input {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: #102654;
  padding-bottom: 5px;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }

  @include hover {
    border-bottom: 2px solid #ffffff;
  }

  @include active {
    border-bottom: none;
    outline: 2px solid #ffffff;
    padding: 8px;
  }

  @include focus {
    border-bottom: none;
    outline: 2px solid #ffffff;
    padding: 8px;
  }

  @include vp-1199 {
    min-width: 206px;
  }

  @include vp-767 {
    min-width: 290px;
    width: 100%;
  }
}

.free__name-wrapper input:focus::placeholder,
.free__name-wrapper input:active::placeholder,
.free__tel-wrapper input:focus::placeholder,
.free__tel-wrapper input:active::placeholder {
  color: transparent;
}

.free__name-wrapper input:disabled::placeholder,
.free__tel-wrapper input:disabled::placeholder {
  opacity: 0.5;
}

.input-message {
  color: #ff121f;
}

.is-invalid input {
  border-bottom: #ff121f solid 2px;
}

.free__button-send {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  margin-bottom: 70px;

  @include hover-focus {
    background-color: #ffffff;
    opacity: 1;
    color: #102654;
  }

  @include active {
    opacity: 0.5;
  }

  @include vp-1199 {
    margin-bottom: 64px;
  }

  @include vp-767 {
    margin-left: 9px;
  }
}
