.gym-text {
  display: flex;
  flex-direction: column;
  width: 429px;
  margin-right: 5%;
  padding-left: 57px;

  @include vp-1199 {
    margin-right: 0;
    width: 503px;
    align-items: center;
    padding-left: 0;
  }

  @include vp-767 {
    align-items: start;
    width: 100%;
    padding-right: 0;
    padding-left: 15px;
    margin: 0 auto;
  }
}

.gym-text h2 {
  margin-top: 37px;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 49px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;

  @include vp-1199 {
    font-size: 42px;
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: -5px;
    font-size: 32px;
  }
}

.gym-text strong {
  color: #102654;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 8px;

  @include vp-1199 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: 5px;
  }
}

.gym-text__text {
  margin-top: 34px;

  @include vp-767 {
    margin-top: -40px;
  }
}

.gym-text__text p {
  color: #102654;
  line-height: 24px;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 10px;

  @include vp-1199 {
    text-align: center;
    margin-bottom: 45px;
    width: 102%;
    margin-top: 0;
  }

  @include vp-767 {
    width: 262px;
    text-align: start;
    margin-top: 58px;
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 24px;
  }
}

.gym-text__text p:last-child {
  @include vp-1199 {
    display: none;
  }
}
