.gym {
  width: 100%;
}

.gym__wrapper {
  display: flex;
  position: relative;
  justify-content: center;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
  }
}

.gym__button-play {
  cursor: pointer;
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-image: url("../../img/playbutton.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  top: calc(50% - 45px);
  left: calc(50% - 45px);
  z-index: 10;

  @include vp-1199 {
    width: 52px;
    height: 52px;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
  }

  @include vp-767 {
    width: 73px;
    height: 73px;
    top: 77%;
    left: calc(50% - 36px);
  }

  &:disabled {
    background-image: url("../../img/playbutton-disabled.png");
  }

  @include hover-focus {
    background-image: url("../../img/playbutton-hover.png");
  }

  @include active {
    background-image: url("../../img/playbutton-hover.png");
  }
}
