.section-title {
  color: #102654;
  font-family: $ff-alumni;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
}

.gym-text__subtitle {
  color: #102654;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.gym-text__text {
  color: #102654;
  line-height: 24px;
}
