.header {
  grid-area: header;
  background: conic-gradient(from 279deg at 16.03% 39.06%, #003d85 32deg, #b80027 152deg, #003d85 333deg);
  margin-bottom: 120px;
  width: 100%;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 63px;
  }
}

.header__wrapper {
  padding-top: 38px;
  max-width: 1490px;

  @include vp-1199 {
    padding-top: 41px;
  }

  @include vp-767 {
    padding-top: 20px;
    display: flex;
;
    flex-direction: column;
    align-items: center;
  }
}

.header__upper-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 3px;

  @include vp-1199 {
    margin-bottom: 19px;
    width: 708px;
    margin-left: 0;
  }

  @include vp-767 {
    width: 290px;
    align-items: start;
    margin-right: 0;
  }
}

.header__logo {
  margin-right: 10px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 1px solid #ffffff;
  }

  &:active {
    opacity: 1;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.header__phone {
  color: $color-default-white;
  font-family: $ff-alumni;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.78px;
  margin-top: -4px;
  margin-right: 4px;
  display: block;

  @include vp-1199 {
    font-size: 24px;
    letter-spacing: 0.48px;
    margin-right: 15px;
  }

  @include vp-767 {
    display: block;
    font-size: 20px;
    margin: 0;
    align-self: start;
    padding-top: 0;
    vertical-align: top;
    margin-top: -4px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 1px solid #ffffff;
  }

  &:active {
    opacity: 1;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.header__image {
  @include vp-767 {
    display: none;
  }
}

.header__image-container {
  transform: translateY(-21px);
  margin-bottom: 30px;
  background-color: #f10026;

  @include vp-1199 {
    transform: none;
    margin-bottom: 82px;
  }
}

.header__hero-block {
  display: flex;
  justify-content: center;
  width: 83%;

  @include vp-1199 {
    width: 708px;
    justify-content: start;
  }

  @include vp-767 {
    width: 290px;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}
