.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 48%;
  margin-bottom: 20px;
  margin-top: 34px;

  @include vp-1199 {
    margin-top: -34px;
    margin-right: 20px;
  }

  @include vp-767 {
    width: 100%;
    margin-right: 0;
  }
}

.hero h1 {
  color: $color-default-white;
  font-family: $ff-alumni;
  font-size: 92px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin: 0;
  order: 3;
  width: 63%;
  text-align: right;
  padding-right: 27px;
  padding-top: 10px;

  @include vp-1199 {
    font-size: 72px;
    letter-spacing: 3.6px;
    text-transform: lowercase;
    padding-right: 0;
    width: 54%;
    padding-top: 5px;
  }

  @include vp-767 {
    padding-top: 10px;
  }
}

.hero p {
  color: $color-default-white;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  order: 1;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
  text-align: right;
  align-self: end;
  padding-right: 113px;
  padding-top: 2px;

  @include vp-1199 {
    font-size: 34px;
    letter-spacing: 0.84px;
    padding-right: 10px;
    padding-top: 0;
  }

  @include vp-767 {
    font-size: 26px;
    padding-top: 86px;
    padding-right: 0;
    margin-left: auto;
  }
}

.hero__list {
  order: 2;
  width: 170px;
  text-align: right;

  padding-top: 128px;
  margin-left: -38px;

  @include vp-1199 {
    padding-top: 91px;
    margin-left: -69px;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-left: -23px;
    width: 120px;
    white-space: nowrap;
  }
}

.hero__list li {
  color: $color-default-white;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
