.membership {
  background-color: #f8f9fc;
  position: relative;
  margin-bottom: 0;

  &::after {
    position: absolute;
    content: "";
    width: 285px;
    height: 353px;
    background-image: url("../../img/weight.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    bottom: -79px;
    right: 0;

    @include vp-1199 {
      width: 341px;
      height: 403px;
      bottom: -49px;
      background-image: url("../../img/weight-tablet.png");
    }

    @include vp-767 {
      display: none;
    }
  }
}

.membership__wrapper {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 3px;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 63px;
  }
}

.membership h2 {
  margin-left: -3px;
  margin-bottom: 10px;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;

  @include vp-1199 {
    font-size: 42px;
  }

  @include vp-767 {
    font-size: 32px;
  }
}

.membership__tabs-content {
  margin-bottom: 120px;
  align-self: start;
}
