.photo-video {
  position: relative;
  margin-bottom: 235px;
  box-sizing: border-box;

  @include vp-1199 {
    margin-bottom: 183px;
  }

  @include vp-767 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 70px;

  }
}

.photo-video__photo-container {
  background-color: #b0b0b0;


  @include vp-767 {
    width: 320px;
    margin-bottom: 40px;
    height: 313px;
    margin-left: 0;
    margin-right: 0;

  }
}

.photo-video__video-preload {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 364px;
    height: 228px;
    background-color: #14367A;
    top: 0;
    left: 0;
    opacity: 0.5;

    @include vp-1199 {
      width: 266px;
      height: 167px;
    }

    @include vp-767 {
      width: 320px;
    }
  }

  @include vp-1199 {
    width: 100%;
  }


}

.photo-video__video-container {
  position: absolute;
  top: 73%;
  left: -9%;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    left: 31%;
    top: 259px;
  }

  @include vp-767 {
    position: static;
    width: 320px;
    height: 167px;
  }
}

.photo-video__video {
  width: 364px;
  height: 228px;

  @include vp-767 {
    width: 266px;
  }
}

.photo-video__video-hidden,
.photo-video__img-hidden,
.photo-video__button-hidden {
  display: none;
}
