.plan {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 360px;
  height: 448px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: center;
  padding-top: 62px;
  position: relative;

  @include vp-1199 {
    width: 442px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-right: 0;
    padding-top: 63px;

  }

  @include vp-767 {
    max-width: 290px;
    margin-bottom: 35px;
    padding-top: 43px;
    height: 384px;
    margin-left: 0;
  }

  @include hover-focus {
    border-width: 7px;
    border-style: solid;
    border-image: $red-to-blue 1;
    padding-top: 55px;

    @include vp-767 {
      padding-top: 36px;
    }

    .button-plan {
      background: $red-to-blue;
      border: none;
      color: #ffffff;
    }
  }
}

.plan h3 {
  color: #102654;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;

  @include vp-767 {
    font-size: 22px;
  }
}

.plan p {
  color: #102654;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;

  @include vp-767 {
    margin-top: 12px;
  }
}

.plan span {
  color: #103aae;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 222px;
  left: 102px;

  @include vp-1199 {
    top: 224px;
    left: 138px;
  }

  @include vp-767 {
    top: 181px;
    left: 77px;
    font-size: 48px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 42px;
    background-image: url("../../img/svg/ruble.svg");
    background-repeat: no-repeat;
    top: -7px;
    right: -43px;

    @include vp-767 {
      background-size: 80%;
      top: -3px;
    }
  }
}

.plan:hover span {
  left: 95px;
  top: 215px;

  @include vp-767 {
    top: 174px;
    left: 70px;
  }

}

.plan strong {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  margin-top: 61px;
  color: #e8e8e8;
  margin-bottom: 93px;

  @include vp-767 {
    margin-bottom: 60px;
  }
}

.plan__button-plan {
  background-color: transparent;
  border: 2px solid #1C3374;
  color: #102654;
  width: 211px;
  height: 65px;

  &:hover, &:focus {
    background: $red-to-blue;
    border: none;
    color: $color-default-white;
    opacity: 1;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }
}

.plan__button-plan:disabled {
  color: rgba(16, 38, 84, 0.3);
  border: 7px solid rgba(16, 38, 84, 0.3);
}
