.plan {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 360px;
  height: 448px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: center;
  padding-top: 68px;
  position: relative;

  @include vp-1199 {
    width: 442px;
    margin-bottom: 40px;
    margin-right: 0;
  }

  @include vp-767 {
    width: 290px;
    margin-bottom: -30px;
    padding-top: 43px;
  }

  @include hover-focus {
    border-width: 7px;
    border-style: solid;
    border-image: $red-to-blue 1;

    .button-plan {
      background: $red-to-blue;
      border: none;
      color: #ffffff;
    }
  }
}

.plan h3 {
  color: #102654;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;

  @include vp-767 {
    font-size: 22px;
  }
}

.plan__subtitle {
  color: #102654;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include vp-767 {
    margin-top: 5px;
  }
}

.plan__price {
  color: #103aae;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 165px;
  left: 102px;

  @include vp-767 {
    top: 130px;
    left: 77px;
    font-size: 48px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 42px;
    background-image: url("../../img/sprite/ruble.svg");
    background-repeat: no-repeat;
    top: -7px;
    padding-left: 10px;
  }
}

.plan__price-blur {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  margin-top: 47px;
  color: #e8e8e8;

  @include vp-767 {
    margin-bottom: 72px;
  }
}
