.plan-list {
  display: flex;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  margin-bottom: 120px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    margin-left: 116px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.plan-list div:last-child {
  margin-right: 0;
}
