.promotion-main {
  background-color: #ED0233;
  color: #ffffff;
}

.promotion-main__legend {
  font-size: 28px;
  font-weight: 700;
  line-height: 43px;
}

.promotion-main__number {
  font-size: 70px;
  font-weight: 700;
  line-height: 110px;
}

.promotion-main__text {
  font-size: 18px;
  font-weight: 400;
  line-height:25px;
}

.promotion-main__link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.promotion {
  color: #1C3374;
}

.promotion__name {
  font-size: 26px;
  line-height: 150px;
  font-weight: 700;
}

.promotion__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.promotion__link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
