.promotions__wrapper {
  padding-top: 140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding-top: 93px;
    margin-bottom: -17px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.promotions h2 {
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;

  @include vp-1199 {
    margin-bottom: 9px;
    font-size: 42px;
  }

  @include vp-767 {
    font-size: 32px;
  }
}
