.promotion-main {
  background-color: #ed0233;
  color: $color-default-white;
  display: flex;
  box-sizing: border-box;
  width: 56%;
  align-self: start;

  @include vp-1365 {
    width: 46%;
    height: 464px;

  }

  @include vp-1199 {
    width: 95%;
    height: auto;
    max-width: 1120px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 0;
  }

  @include vp-767 {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
      }
}

.promotion-main__text-block {
  display: flex;
  flex-direction: column;
  width: 51%;
  padding-top: 33px;
  padding-left: 45px;
  padding-bottom: 30px;
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;

  @include vp-1365 {
    width: 40%;
  }

  @include vp-1199 {
    width: 40%;
    margin-left: 44px;
    padding-left: 0;
    padding-top: 31px;
  }

  @include vp-767 {
    width: 100%;
    align-items: center;
    padding-top: 31px;
    padding-left: 0;
    margin-left: 0;
  }
}

.promotion-main__photo-block {
  width: 50%;
  height: auto;
  background-color: #ed0233;

  @include vp-1365 {
    height: 100%;
  }


  @include vp-1199 {
    height: auto;
    width: 68%;
    margin-left: auto;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;

  }
}

.promotion-main__photo-block img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.promotion-main__text-block span {
  font-size: 28px;
  font-weight: 700;
  line-height: 43px;
  margin-top: 0;
  margin-bottom: 0;

  @include vp-767 {
    text-align: center;
    margin-top: 3px;
  }
}

.promotion-main__text-block strong {
  font-size: 70px;
  font-weight: 700;
  line-height: 110px;
  margin-top: -23px;
  margin-bottom: 0;

  @include vp-767 {
    text-align: center;
  }
}

.promotion-main p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 0;



  @include vp-767 {
    margin-bottom: 29px;
    text-align: center;
    margin-top: -10px;
  }
}

.promotion-main a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  // margin-top: 0;
  // margin-bottom: 70px;
  color: $color-default-white;
  border-bottom: 1px solid $color-default-white;
  // align-self: start;
  cursor: pointer;
  position: absolute;
  bottom: 37px;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 1px solid $color-default-white;
    opacity: 1;
  }

  &:active {
    border-bottom: 1px solid $color-default-white;
    outline: none;
    opacity: 1;
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1199 {
    line-height: 20px;
    bottom: 43px;
  }

  @include vp-767 {
    position: static;
    align-self: center;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 0;
    line-height: 19px;
  }
}
