.question {
  &::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(28, 51, 116, 0.2);
    content: "";
    top: -35px;
    left: 0;
  }
}

.question__answer-wrapper {
  position: relative;
  margin-bottom: 39px;
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);
  box-sizing: border-box;
  padding-bottom: 0;

  @include vp-1199 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    padding-bottom: 16px;
  }
}

.question__answer-wrapper p {
  color: #102654;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  @include vp-1199 {
    width: 85%;
  }

  @include vp-767 {
    width: 75%;
    font-size: 18px;
    line-height: 21px;
  }
}

.question__answer-text p {
  color: #102654;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  width: 82%;
  margin-top: -8px;

  @include vp-1199 {
    width: 80%;
  }

  @include vp-767 {
    width: 99%;
    font-size: 16px;
    margin-top: 10px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}
