.slide {
  max-width: 260px;
  box-sizing: border-box;
  flex-grow: 0;
  cursor: pointer;


  @include vp-1199 {
    max-width: 280px;
  }

  @include vp-767 {

    min-height: 274px;
    max-width: 294px;
    width: 100%;
  }
}

.slide__image-container {
  width: 100%;
  min-height: 274px;
  position: relative;
  background-color: #b5c4ca;
}

.slide__image-container img {
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.slide__image-container h3 {
  color: $color-default-white;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  bottom: 26px;
  text-align: center;
  z-index: 14;

  @include vp-1199 {
    bottom: 23px;
  }
}

.slide:hover .slide__image-container h3,
.slide:active .slide__image-container h3,
.slide:focus-visible .slide__image-container h3 {
  display: none;
}

.slide__text-block {
  display: none;
  position: absolute;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 55px;
  z-index: 15;
  padding-top: 53px;
  padding-right: 40px;
  padding-left: 43px;

  @include vp-1199 {
    padding-top: 53px;
    padding-left: 39px;
    padding-right: 30px;
  }

  @include vp-767 {
    padding: 43px;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 20px;
  }
}

.slide:hover .slide__text-block,
.slide:focus-visible .slide__text-block,
.slide:active .slide__text-block {
  display: flex;
  z-index: 18;
}

.slide__text-block h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  box-sizing: border-box;
  align-self: center;
  margin: 0;
  align-self: center;

  @include vp-1199 {
    align-self: start;
    margin-left: 13px;
  }

  @include vp-767 {
    margin-left: 0;
    align-self: center;
    margin-left: -32px;
  }
}

.slide__text-block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
  margin-top: -3px;
  margin-bottom: 30px;

  @include vp-1199 {
    margin-top: -6px;
    margin-bottom: 33px;
    margin-left: -16px;
  }

  @include vp-767 {
    margin-left: -32px;
  }
}

.slide__list {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  margin-left: 28px;

  @include vp-767 {
    margin-left: 0;
  }
}

.slide__list li {
  margin-left: none;
  margin-bottom: 14px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-default-white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -15px;
    top: 7px;
  }
}

.image--3 img {
  width: 124%;
  max-width: 156%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  position: absolute;
  top: -32px;
  left: -35px;
}
