.slider {
  margin-bottom: 100px;
  margin-top: 48px;
  box-sizing: border-box;
  max-width: 1550px;

  @include vp-1199 {
    margin-top: 30px;
    padding-left: 4px;
  }

  @include vp-767 {
    margin-top: 42px;
  }
}

.slider__swiper-button-prev {
  left: 29px;
  right:0;
  border-radius: 50%;
  width: 56px;
  height: 56px;

  @include hover-focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }

  @include vp-767 {
    left:-7px;
  }
}

.slider__swiper-button-next {
  right: 26px;
  left: auto;
  border-radius: 50%;
  width: 56px;
  height: 56px;

  @include hover-focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }

  @include vp-1199 {
    right: 26px;
  }

  @include vp-767 {
    right: -8px;
  }
}

.slider__swiper-button-prev::after {
  position:absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/sprite/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 11;
  box-sizing: border-box;

  &:active {
    background-image: url("../../img/sprite/arrow-left-white.svg");
  }
}

.slider__swiper-button-next::after {
  position:absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/sprite/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 11;
  box-sizing: border-box;

  &:active {
    background-image: url("../../img/sprite/arrow-right-white.svg");
  }
}
