.slider {
  margin-bottom: 100px;
  margin-top: 48px;
  align-self: center;
  position: relative;
  overflow: visible;
  height: 100%;


  @include vp-1365 {
    max-width: 860px;
    height: 294px;
  }

  @include vp-1199 {
    margin-top: 30px;
    max-width: 560px;
    margin-bottom: 90px;
  }

  @include vp-767 {
    min-width: 226px;
    width: 100%;
    margin-top: 42px;
    margin-bottom: 68px;
    margin-right: -279px;
    margin-left: -280px;
  }
}

.slider__swiper-button-prev::after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 10;
  box-sizing: border-box;

  @include vp-767 {
    width: 28px;
    height: 28px;
    background-size: 34%;
  }
}

.slider__swiper-button-prev {
  position: absolute;
  left: -77px;
  right: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  z-index: 10;
  top: 144px;

  &:hover,
  &:focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }


  @include vp-1365 {
    left: -65px;
  }

  @include vp-1199 {
    left: -80px;
    top: 142px;
    padding: 0;
  }

  @include vp-767 {
    left: -16px;
    top: 50%;
    width: 28px;
    height: 28px;

  }
}

.slider__swiper-button-next {
  position: absolute;
  right: -79px;
  left: auto;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  z-index: 10;
  top: 144px;

  &:hover,
  &:focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }

  @include vp-1365 {
    right: -75px;
  }

  @include vp-1199 {
    right: -79px;
    top: 142px;
  }

  @include vp-767 {
    top: 50%;
    left: 92%;
    padding: 0;
    width: 33px;
    height: 33px;
  }
}

.slider__swiper-button-next::after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 10;
  box-sizing: border-box;

  @include vp-767 {
    width: 28px;
    height: 28px;
    background-size: 34%;
  }
}

.slider__swiper-button-next:active::after {
  z-index: 11;
  background-image: url("../../img/svg/arrow-left-white.svg");
  transform: rotate(180deg);
}

.slider__swiper-button-prev:active::after {
  z-index: 11;
  background-image: url("../../img/svg/arrow-left-white.svg");
}
