.slider {
  margin-bottom: 100px;
  margin-top: 48px;
  box-sizing: border-box;
  max-width: 1160px;
  position: relative;
  overflow: visible;
  height: 100%;


  @include vp-1365 {
    max-width: 860px;
  }

  @include vp-1199 {
    margin-top: 30px;
    max-width: 560px;
  }

  @include vp-767 {
    width: 226px;

    margin-top: 42px;
    margin-bottom: 68px;
    margin-left: 38px;
;
  }
}

.slider__swiper-button-prev::after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 10;
  box-sizing: border-box;

  @include vp-767 {
    background-size: 20%;
  }
}

.slider__swiper-button-prev {
  position: absolute;
  left: -77px;
  right: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  z-index: 10;

  &:hover,
  &:focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }


  @include vp-1365 {
    left: -65px;
  }

  @include vp-1199 {
    left: -76px;
    top: 142px;
  }

  @include vp-767 {
    left: -58px;
    top: 134px;
  }
}

.slider__swiper-button-next {
  position: absolute;
  right: -79px;
  left: auto;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  z-index: 10;

  &:hover,
  &:focus {
    border: 2px solid #102654;
  }

  &:active {
    background-color: #102654;
  }

  @include vp-1365 {
    right: -75px;
  }

  @include vp-1199 {
    right: -79px;
    top: 142px;
  }

  @include vp-767 {
    top: 134px;
    right: -52px;
  }
}

.slider__swiper-button-next::after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 10;
  box-sizing: border-box;

  @include vp-767 {
    background-size: 20%;
  }
}

.slider__swiper-button-next:active::after {
  z-index: 11;
  background-image: url("../../img/svg/arrow-left-white.svg");
  transform: rotate(180deg);
}

.slider__swiper-button-prev:active::after {
  z-index: 11;
  background-image: url("../../img/svg/arrow-left-white.svg");
}
