.supergames {
  background-color: #ed0233;
  color: $color-default-white;
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  padding-right: 40px;
  box-sizing: border-box;
  width: 43%;

  @include vp-1365 {
    padding-top: 1%;
  }

  @include vp-1199 {
    width: 292px;
    padding: 48px;
    padding-right: 15px;
  }

  @include vp-767 {
    margin-top: 25px;
  }
}

.supergames h2 {
  font-family: $ff-alumni;
  font-size: 82px;
  font-weight: 600;
  line-height: 78.72px;
  letter-spacing: 2.46px;
  margin: 0;
  width: 200px;
  margin-right: 52px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 7px;
  box-sizing: border-box;

  @include vp-1199 {
    font-size: 48px;
    width: 117px;
    margin-right: 20px;
    line-height: 42px;
  }

  @include vp-767 {
    width: 123px;
  }
}

.supergames__description p {
  margin-top: 3px;
  width: 280px;
  margin-bottom: 38px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    margin-top: -34px;
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 29px;
    margin-top: -15px;
  }
}

.supergames__button-link {
  width: 343px;
  height: 67px;
  margin-left: 2px;
  border: 4px solid $color-default-white;
  color: $color-default-white;
  background-color: transparent;

  @include vp-1199 {
    width: 207px;
    margin-left: -3px;
    margin-bottom: -18px;
    height: 39px;
  }

  @include hover-focus {
    background-color: #ffffff;
    color: #103aae;
  }

  @include active {
    background-color: $color-default-white;
    color: #103aae;
  }

  @include vp-767 {
    margin-bottom: 3px;
  }
}
