.swiper-wrapper {
  width: 1160px;
  margin-left: 0;
  height: 324px;
  overflow: hidden;

  @include vp-1365 {
    width: 860px;
    margin-left: 1px;
  }

  @include vp-1199 {
    width: 560px;
    margin: 0 auto;
    margin-left: -1px;
  }

  @include vp-767 {
    width: 220px;
  }
}
