.swiper-wrapper {
  width: 1140px;
  margin: 0 auto;

  @include vp-1365 {
    width: 860px;
    margin: 0 auto;
  }

  @include vp-1199 {
    width: 560px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 220px;
    margin-left: 10px;
  }
}
